body {
  font-family: "Roboto";
}

/* Landing */
.btn_Create_Account {
  margin: 15px 0 15px 0px;
  cursor: pointer;
  width: 190px;
  height: 40px;
  white-space: nowrap;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  border-radius: 15px;
  border: rgba(238, 67, 138, 1);
  color: rgba(255, 255, 255, 1);
  background-color: rgba(238, 67, 138, 1);
}

/* Registration */

.logo,
.imgcard {
  margin-top: 30%;
}

.label_Create_Account,
.show_password {
  margin: 15px 0 15px 0px;
  white-space: nowrap;
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: rgba(0, 0, 0, 1);
}

.ddl {
  background-color: white;
  color: rgba(0, 0, 0, 1);
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="checkbox"],
input[type="password"],
.ddl,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 15px 0 15px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(95, 99, 104, 1);
}

.lbl,
.topnav-centered,
.dptlabel {
  margin: 0 0 0 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(95, 99, 104, 1);
}

.btn_reg {
  margin: 15px 0 15px;
  background-color: rgba(238, 67, 138, 1);
  color: white;
  border: #ccc;
  width: 615px;
  height: 53px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
}

/* Login */
.imglogin {
  margin-top: 10%;
  width: 330px;
  height: 330px;
}

.Forgot_Email,
.Create_Account,
.Forgot_Password,
.Cancel {
  overflow: visible;
  white-space: nowrap;
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  color: rgba(238, 67, 138, 1);
}

.Forgot_Password,
.Cancel {
  cursor: pointer;
  font-weight: bold;
}

.Create_Account {
  font-weight: bold;
}

.btnNext {
  margin-left: 450px;
  width: 146px;
  overflow: visible;
  height: 53px;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  border: none;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(238, 67, 138, 1);
}

.label_Create_Account {
  margin-right: 50rm;
}

.continer {
  margin-left: 0em;
}

/* Dashboard */
.addjob {
  border: 1px solid rgb(240, 121, 170);
  margin-top: 20%;
}

.processimage {
  width: 40px;
  height: 40px;
  margin-top: 2%;
}

.search {
  width: 100%;
  display: flex;
}

.searchButton {
  margin-top: 15px;
  width: 40%;
  height: 55px;
  text-align: center;
  border-radius: 15px;
  border: rgba(255, 255, 255, 1);
  cursor: pointer;
  font-size: 20px;
}

.topnav-centered {
  float: none;
  position: absolute;
  top: 50%;
  left: 49%;
  color: rgba(238, 67, 138, 1);
  transform: translate(-50%, -50%);
}

/* sidebar */
.sasidebar {
  /* height: 100%; */
  width: 190px;
  position: absolute;
}

.sasidebar a {
  display: block;
  border-radius: 0px 30px 30px 0px;
  color: black;
  padding: 5px;
  text-align: left;
  margin-left: 4%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  position: relative;
}

.sasidebar a.active {
  background-color: rgba(238, 67, 138, 1);
  color: white;
}

/* Links on mouse-over */
.sasidebar a:hover:not(.active) {
  background-color: rgba(238, 67, 138, 1);
  color: white;
}

.completed,
.overdue,
.due,
.addicon,
.inprogress,
.employee,
.department {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  color: white;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 30%;
  top: 50%;
  left: 50%;
}

/* Add Department */

.processimg {
  width: 180px;
  height: 180px;
  margin-top: 10%;
  margin-left: 50%;
}

.dptlabel {
  color: rgba(238, 67, 138, 1);
  margin-top: 2%;
}

.dptddl {
  width: 40%;
  height: 45px;
  padding: 7px;
  margin: 15px 0 0 1%;
  border-color: rgba(238, 67, 138, 1);
  color: rgba(238, 67, 138, 1);
}

.borders {
  width: 320px;
  padding: 10px;
  border: 1px solid gray;
  margin: 0;
  margin-left: 20%;
  border-radius: 15px;
}

/* ADD EMPLOYEES */
.profile {
  height: 50px;
  width: 50px;
  margin-left: 220px;
  margin-top: 25px;
}

/* View Employees */
.tbl {
  margin-left: 20%;
  max-width: 80%;
}

@media screen and (max-width: 1024px) {
  /* start of large tablet styles */
  .img-responsive {
    min-width: 70%;
  }
  .processimg {
    width: 150px;
    height: 150px;
    margin-left: 20%;
  }
}

@media screen and (max-width: 767px) {
  /* start of medium tablet styles */
  /* Adding a fixed/percentage min-width could ensure that the image doesn't get too small */
  .img-responsive {
    display: none;
  }
  .btnNext {
    margin-left: 12em;
  }
  .Forgot_Email,
  .Create_Account {
    margin-right: 13em !important;
  }
  .processimg {
    width: 100px;
    height: 100px;
    margin-top: 10%;
    margin-left: 10%;
  }
}

@media screen and (max-width: 420px) {
  /* start of phone styles */
  /* It's possible to hide the image if the screen becomes too small */
  .img-responsive {
    display: none;
  }
  .btnNext {
    margin-left: 6em;
  }
}
